[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "alert"]
	path = lib/alert
	url = https://github.com/jwiegley/alert
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:magit/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "dash"]
	no-byte-compile = dash-functional.el
	no-makeinfo = dash-template.texi
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "denote"]
	path = lib/denote
	url = git@github.com:emacsmirror/denote.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed
[submodule "elpher"]
	path = lib/elpher
	url = https://thelambdalab.xyz/git/elpher.git
[submodule "emacsql"]
	no-byte-compile = emacsql-pg.el
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "envrc"]
	path = lib/envrc
	url = https://github.com/purcell/envrc
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = https://github.com/ledger/ledger-mode
[submodule "lin"]
	path = lib/lin
	url = git@github.com:emacsmirror/lin.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
	load-path = .
	load-path = clients
[submodule "lsp-python-ms"]
	path = lib/lsp-python-ms
	url = git@github.com:emacsattic/lsp-python-ms.git
[submodule "magit"]
	no-byte-compile = lisp/magit-libgit.el
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-alert"]
	path = lib/org-alert
	url = https://github.com/spegoraro/org-alert
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "sqlite3"]
	build-step = make
	path = lib/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
	load-path = .
	load-path = extensions
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
